$primary-dark: $blue-dark !default
$primary: $blue !default
$primary-light: $blue-light !default

$info-dark: $blue-dark !default
$info: $blue !default
$info-light: $blue-light !default

$danger-dark: $red-dark !default
$danger: $red !default
$danger-light: $red-light !default

$success-dark: $green-dark !default
$success: $green !default
$success-light: $green-light !default

$text: $black !default
$text-light: $black-light !default
$text-muted: $grey !default

// Link colors

$link: $blue !default
$link-hover: $blue-dark !default

// Typography

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9 !default
$colors: ('black': $black, 'black-light': $black-light, 'black-lighter': $black-lighter, 'grey-darker': $grey-darker, 'grey-dark': $grey-dark, 'grey': $grey, 'grey-light': $grey-light, 'grey-lighter': $grey-lighter, 'white-ter': $white-ter, 'white-bis': $white-bis, 'white': $white, 'green-dark': $green-dark, 'green': $green, 'green-light': $green-light, 'blue-dark': $blue-dark, 'blue': $blue, 'blue-light': $blue-light, 'red-dark': $red-dark, 'red': $red, 'red-light': $red-light, 'primary-dark': $primary-dark, 'primary': $primary, 'primary-light': $primary-light, 'info-dark': $info-dark, 'info': $info, 'info-light': $info-light, 'success-dark': $success-dark, 'success': $success, 'success-light': $success-light, 'danger-dark': $danger-dark, 'danger': $danger, 'danger-light': $danger-light, 'text': $text, 'text-light': $text-light, 'text-muted': $text-muted)
