// Colors
$black: #111827 !default
$black-light: #111827 !default
$black-lighter: #1F2937 !default

$grey-darker: #374151 !default
$grey-dark: #4B5563 !default
$grey: #6B7280 !default
$grey-light: #9CA3AF !default
$grey-lighter: #D1D5DB !default
$grey-lightest: #E5E7EB !default

$white-ter: #F3F4F6 !default
$white-bis: #F9FAFB !default
$white: #FFFFFF !default

$blue-dark: #001B75 !default
$blue: #00249C !default
$blue-light: #3F5AB4 !default

$red-dark: #D42D38 !default
$red: #EF3340 !default
$red-light: #F3666F !default

$green-dark: #2F9980 !default
$green: #35AD90 !default
$green-light: #CCEAE3 !default

$yellow-dark: #FBBF24 !default
$yellow: #FCD34D !default
$yellow-light: #FEF3C7 !default

// Typography
$external-fonts: true !default
$external-fonts-url: "https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap" !default
$family-sans-serif: "Manrope", "Helvetica", "Arial", sans-serif !default
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.875rem !default
$size-8: 0.75rem !default
$size-9: 0.625rem !default

$weight-light: 400 !default
$weight-normal: 500 !default
$weight-medium: 600 !default
$weight-semibold: 700 !default
$weight-bold: 800 !default

// Spacing
$block-spacing: 1.5em !default

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
$widescreen-enabled: true !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default
$fullhd-enabled: true !default


// Radius
$easing: ease-out !default
$radius-small: 4px !default
$radius: 8px !default
$radius-large: 24px !default
$radius-rounded: 290486px !default
$easing: ease-out !default


// Duration
$duration-short: 150ms !default
$duration-short-up: 200ms !default
$duration-medium: 400ms !default
$duration-medium-up: 450ms !default
$duration-long: 700ms !default
$duration-long-up: 750ms !default


// Shadow
$shadow: 0 0.5em 1em -0.125em rgba($black, .2), 0 0px 0 1px rgba($black, 0.02) !default
$shadow-lg: 0 1em 2em -0.25em rgba($black, .2), 0 0px 0 1px rgba($black, 0.02) !default


// Flags
$variable-columns: true !default
