// Colors
$black: #303031 !default
$black-light: #414042 !default
$black-lighter: #585759 !default

$grey-darker: #706F71 !default
$grey-dark: #888788 !default
$grey: #A09FA0 !default
$grey-light: #B7B7B8 !default
$grey-lighter: #CFCFCF !default
$grey-lightest: #E8E8E8 !default

$white-ter: #F4F4F4 !default
$white-bis: #F9F9F9 !default
$white: #FFFFFF !default

$blue-dark: #001B75 !default
$blue: #00249C !default
$blue-light: #3F5AB4 !default

$red-dark: #D42D38 !default
$red: #EF3340 !default
$red-light: #F3666F !default

$green-dark: #2F9980 !default
$green: #35AD90 !default
$green-light: #CCEAE3 !default

$yellow-dark: #E2C54D !default
$yellow: #FFDE57 !default
$yellow-light: #FFF6D5 !default

// Typography
$family-sans-serif: "Noto Sans", "Helvetica", "Arial", sans-serif !default
$family-monospace: monospace !default
$render-mode: optimizeLegibility !default

$size-1: 3rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.875rem !default
$size-8: 0.75rem !default
$size-9: 0.625rem !default

$weight-light: 300 !default
$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default

// Spacing
$block-spacing: 1.5em !default

// Responsiveness

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
$widescreen-enabled: true !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default
$fullhd-enabled: true !default


// Radius
$easing: ease-out !default
$radius-small: 4px !default
$radius: 8px !default
$radius-large: 24px !default
$radius-rounded: 290486px !default
$easing: ease-out !default


// Duration
$duration-short: 150ms !default
$duration-short-up: 200ms !default
$duration-medium: 400ms !default
$duration-medium-up: 450ms !default
$duration-long: 700ms !default
$duration-long-up: 750ms !default


// Shadow
$box-shadow: 0 3px 6px rgba($black, .2)


// Flags
$variable-columns: false !default
