$dropdown-content-background-color: $white
$dropdown-content-shadow: $shadow-lg

$dropdown-item-color: $grey-darker
$dropdown-item-hover-color: $black
$dropdown-item-active-color: $black
$dropdown-item-hover-background-color: $white-ter
$dropdown-item-active-background-color: $white-ter

$dropdown-divider-background-color: $grey-lightest
