.password-with-meter
    position: relative
    z-index: 0

.password-meter
    top: -1.25rem
    height: 0.5rem
    z-index: -1
    background-color: $grey-lightest
    border-bottom-left-radius: $radius-small
    border-bottom-right-radius: $radius-small
    position: relative

    &::before
        position: absolute
        top: 0
        left: 0
        height: 100%
        transition: width $duration-short, background-color $duration-short
        background-color: $red

    &--1::before
        width: 25%
    &--2::before
        width: 50%
        background-color: #D9811C
    &--3::before
        width: 75%
        background-color: $yellow
    &--4::before
        width: 100%
        background-color: $green
