.password-with-meter
    position: relative
    z-index: 1

.password-meter
    top: -1.25rem
    height: 0.625rem
    margin-bottom: -1.25rem
    z-index: 0
    background-color: $white-ter
    border-bottom-left-radius: $radius-small
    border-bottom-right-radius: $radius-small
    overflow: hidden
    position: relative

    &::before
        +pseudo-block
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 0%
        transition: width $duration-short, background-color $duration-short
        background-color: $red

    &--1::before
        width: 25%
    &--2::before
        width: 50%
        background-color: #D9811C
    &--3::before
        width: 75%
        background-color: $yellow
    &--4::before
        width: 100%
        background-color: $green
